bin
obj
classic_bin
classic_obj
*.dll
*.mdb
*.exe
*.log
*.userprefs
*.suo
UpgradeLog*
.nuspec/*.nupkg
*UpgradeReport*
*.user
*.DS_Store
*.ide
.vs
*.designer.cs
*project.lock.json
!*ControlResources*.designer.cs
!*Resources.Designer.cs
!NuGet.exe
/packages
*.xam
*.remove
*/.metadata/*
*.psess
*.tss
*.bak